<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="movie">
            <h2><b>{{movie.title}}</b></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="movie-details">
                <div  style="flex: 1 1 25%">
                    <img class="movie-poster" [src] = movie.poster alt="Image not found" onerror="this.onerror=null;this.src='../../content/images/no-img-available.png';">
                </div>
                <dl class="row-md jh-entity-details" style="flex: 1 1 75%">
                    <dt><span>Plot</span></dt>
                    <dd>
                        <span>{{movie.plot}}</span>
                    </dd>
                    <dt><span>Released</span></dt>
                    <dd>
                        <span>{{movie.released}}</span>
                    </dd>
                    <dt><span>Runtime</span></dt>
                    <dd>
                        <span>{{movie.runtime}}</span>
                    </dd>
                    <dt><span>Rating</span></dt>
                    <dd>
                        <span>{{movie.rating}}</span>
                    </dd>
                    <dt><span>Production</span></dt>
                    <dd>
                        <div *ngIf="movie.productionId">
                            <a [routerLink]="['/production', movie.productionId, 'view']">{{movie.productionCode}}</a>
                        </div>
                    </dd>
                </dl>
            </div>


            <p-carousel headerText="More suggestions" [value]="suggestions" [numVisible]="3" [pageLinks]="6">
                <ng-template let-movie pTemplate="item">
                    {{movie.title}}
                </ng-template>
            </p-carousel>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
