<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome, movie maniac!</h1>

        <p class="lead">This could be your home now</p>

        <p>
            Do you ...
        </p>

        <ul>
            <li>like watching a lot of movies and want to keep a track of them?</li>
            <li>want a cool place to discover new and highly rated movies?</li>
            <li>always say you want to see a movie and forget it's name?</li>
            <li>have nothing else to do?</li>
        </ul>

        <p>
            Then do not hesitate and <a class="alert-link" routerLink="register">join us now!</a>
        </p>
    </div>




</div>
